
/*--------------------------*/
/*   INPUT PESQUISAR       */
/*--------------------------*/

form input.pesquisar{
    border: 1px solid #A65E52;
}
/*--------------------------*/
/*   SECTION OFERTAS       */
/*--------------------------*/

section.produto-ofertas h2{
    text-align: center;
    margin-bottom: 3rem;
    color: #FE9E8E;
}

div.produto-ofertas-mestre{
    width: 100%;
    margin: auto;
    border: 2px solid #707070;
    padding: 20px 4%;
}

/*--------------------------*/
/*   SECTION TENDENCIA       */
/*--------------------------*/

section.produto-tendencia h2{
    text-align: center;
    margin-bottom: 3rem;
    color: #FE9E8E;
}

div.produto-tendencia-mestre{
    width: 100%;
    margin: auto;
    border: 2px solid #707070;
    padding: 20px 4%;
}

/*--------------------------*/
/*   SECTION MAIS VENDIDOS  */
/*--------------------------*/

section.mais-vendidos{
    
}

div.mais-vendidos-mestre h2{
    text-align: center;
    margin-bottom: 3rem;
    color: #FE9E8E;
}

div.mais-vendidos-d{
    width: 100%;
    margin: auto;
    border: 2px solid #707070;
    padding: 20px 4%;
}