
 form button.btn-login{
    background-color: #A65E52;
    border: none;
    color: #FFFFFF;
    transition: 1s ease-out;
}

form button.btn-login:hover{
    background-color: #D12B30;
}
 
 div.msg-login span{
    color: #A65E52;
    font-weight: bold;
}